
.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
.SignUpButton{
  margin-left:10px;
}
.HomepageDiv{
  border: 1px solid rgba(80,80,80,.8);
  width:50%;
  margin: auto;
  margin-top: 10%;
  padding:10px;
}
